{% extends "manager/layout.html" %}
{% load crispy_forms_tags %}
{% block form %}
    <div class="col-8">
        <div class="chartBox">
            <canvas id="myExpenseChart" width="300" height="175"></canvas>
            {% comment %} <input onchange="filterData()" type="date" id="startdate"> 
            <input onchange="filterData()" type="date" id="enddate">  {% endcomment %}
        </div>
        <hr>
        <div class="box">
            <h1>History</h1>

            {% for expense in expenses %}
                <hr>
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            {% comment %} <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a> {% endcomment %}
                            <div class="h4 mb-0 mt-2"> Amount: 
                                <a class="mr-4" href= "#">{{ expense.Amount }} </a>
                            </div>
                            <small class="h6 text-muted mb-3">{{ expense.ExpenseDate|date:"F d, Y" }}</small>
                        </div>
                    {% comment %} <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                    <p class="article-content">{{ post.content }}</p> {% endcomment %}
                    {% comment %} <button type="button" class="btn btn-primary"> {% endcomment %}
                        <button type="button" class="delete-button">
                            <a href="{% url "updateExpense" expense.Expense_id %}" class="ml-2">Edit</a>
                        </button>
                        <button type="button" class="delete-button">
                            <a href="{% url "deleteExp" expense.Expense_id  %}" class="ml-2">Delete</a>
                        </button>
                    {% comment %} </button> {% endcomment %}
                    </div>
                </article>
            {% endfor %}
            <hr>
            <br/>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <div class="page-item">
                        {% if expenses.has_previous %}
                            <a class="page-link" href="?page=1">&laquo First</a>
                            <a class="page-link" href="?page={{ expenses.previous_page_number }}">Previous</a>
                        {% endif %}
                        
                        <!--
                        <li class="page-item disabled"><a href="#" class="page-link">Page {{ venues.number }} of {{ venues.paginator.num_pages }}</a></li>
                        -->
                        
                        {% for i in paginator.num_pages %}
                            <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                        {% endfor %}
                        
                        {% if expenses.has_next %}
                            <a class="page-link" href="?page={{ expenses.next_page_number }}">Next</a>
                            <a class="page-link" href="?page={{ expenses.paginator.num_pages }}">Last &raquo</a>
                        {% endif %}
                    </div>
                </ul>
            </nav>
            <br/>
        </div>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
        {% comment %} <script type="text/javascript" src="../../static/manager/expenseGraph.js"></script> {% endcomment %}
        <script>
            // setup 
            const dates = {{ labels|safe }};
            const amount = {{ money|safe }};
            const data = {
                labels: dates,
                datasets: [{
                    label: 'Expense',
                    data: amount,
                    borderWidth: 1
                }]
            };
            
            // config 
            const config = {
                type: 'bar',
                data,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            };
            
            // render init block
            const myChart = new Chart(
                document.getElementById('myExpenseChart'),
                config
            );
    
            {% comment %} function filterData(){
                const dates2 = [...dates];
                console.log(dates2);
                const startdate = document.getElementById('startdate')
                console.log(startdate.value)
                const enddate = document.getElementById('enddate')
                const indexstartdate = dates2.indexOf(startdate.value);
                const indexenddate = dates2.indexOf(enddate.value);
                console.log(indexstartdate)
                console.log(indexenddate)
                const filterDate = dates2.slice(dates2.indexOf(startdate.value), dates2.indexOf(enddate.value)+1);
                console.log(filterDate);
            } {% endcomment %}
    
        </script>                       
    </div>
    <div class="col-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} justify-content-center">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="data-section">
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Expense</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock form %}