{% extends "manager/layout.html" %}
{% load crispy_forms_tags %}
{% block pages %}
    <div class="col-8">
        <div class="chartBox">
            <canvas id="myExpenseChart" width="300" height="175"></canvas>
            
        </div>
        
        
        <hr>
        <div class="box">
            <h1>History</h1>
            {% for expense in expenses %}
                <hr>
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                           <div class= "left-buttons">
                            <div>
                                <div class="h4 mb-0 mt-0"> Amount: {{ expense.Amount }}</div>
                                <small class="h6 text-muted mb-3">{{ expense.ExpenseDate|date:"F d, Y" }}</small>
                            </div>
                            <div>
                                {% comment %} EDIT ICON {% endcomment %}
                                <a class="inside-button mr-0" href="{% url "updateExpense" expense.Expense_id %}">
                                    <i class="fa fa-pencil-square-o" style="font-size: 35px;" aria-hidden="true"></i>
                                </a>
                                {% comment %} DELETE ICON {% endcomment %}
                                <a class="inside-button mr-0" href="{% url "deleteExpense" expense.Expense_id %}" class="ml-2">
                                    <i class="fa fa-trash-o" style="font-size: 35px;" aria-hidden="true"></i>
                                </a>
                            </div>
                           </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
            <hr>
            <nav aria-label="Page navigation example" class="mb-1">
                <div class="page-item content-center">
                        {% if expenses.has_previous or expenses.has_next  %}
                            {% if expenses.has_previous %}
                                {% comment %} <a  href="?page=1"><button class="page-link">&laquo First</button></a> {% endcomment %}
                                <a href="?page={{ expenses.previous_page_number }}">
                                    <button class="page-link mr-1">
                                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                    </button>
                                </a>
                            {% else %}
                                {% comment %} <button class="page-link fade">&laquo First</button> {% endcomment %}
                                <button class="page-link fade mr-1 ">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                </button>
                            {% endif %}
                    
                            {% for page in pages.page_range %}
                                <a class="mr-1 ml-1 h5" href="?page={{ page }}">
                                    <button class="page-link content-center"> 
                                        {{ page }} 
                                    </button>
                                </a>
                            {% endfor %}


                            {% if expenses.has_next %}
                                <a href="?page={{ expenses.next_page_number }}">
                                    <button class="page-link ml-1">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    </button>
                                </a>
                                {% comment %} <a href="?page={{ expenses.paginator.num_pages }}"><button class="page-link">Last &raquo</button></a> {% endcomment %}
                            {% else %}
                                <button class="page-link fade ml-1">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </button>
                                {% comment %} <button class="page-link fade">Last &raquo</button> {% endcomment %}
                            {% endif %}
                        {% else %}
                            {% comment %} <button class="page-link fade">&laquo First</button> {% endcomment %}
                            <button class="page-link fade mr-1">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            </button>
                            <button class="page-link fade ml-1">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </button>
                            {% comment %} <button class="page-link fade">Last &raquo</button> {% endcomment %}
                        {% endif %}
                </div>
            </nav>
        </div>
    </div>

    <div class="col-4">
        <div class="message">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} justify-content-center">
                        {{ message }}
                        <a href="../" class="del-msg">&times;</a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="data-section">
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Expense</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <script>
        // setup 
        const dates = {{ labels|safe }};
        const amount = {{ money|safe }};
        {% comment %} const fullDate = {{ fullDate|safe }} {% endcomment %}
        const data = {
            labels: dates,
            datasets: [{
                label: 'Expense',
                data: amount,
                backgroundColor: 'rgba(144, 168, 190, 0.5)',
                borderColor: '#5f788a',
                borderWidth: 1,
            }]
        };
        
        // config 
        const config = {
            type: 'bar',
            data,
            options: {
                scales: {
                    x: {
                        grid: {
                            display: false
                        }
                    },        
                    y: {
                        
                        beginAtZero: true
                    }
                }
            }
        };
        
        // render init block
        const myChart = new Chart(
            document.getElementById('myExpenseChart'),
            config
        );

        function filterData(){
            const dates2 = [...dates];
            console.log(dates2);
            const startdate = document.getElementById('startdate')
            console.log(startdate.value)
            const enddate = document.getElementById('enddate')
            const indexstartdate = dates2.indexOf(startdate.value);
            const indexenddate = dates2.indexOf(enddate.value);
            console.log(indexstartdate)
            console.log(indexenddate)
            const filterDate = dates2.slice(dates2.indexOf(startdate.value), dates2.indexOf(enddate.value)+1);
            console.log(filterDate);
        }
    </script>
    <script>
        $(document).ready(function() {
            // messages timeout for 10 sec 
            setTimeout(function() {
                $('.message').fadeOut('slow');
            }, 10000); // <-- time in milliseconds, 1000 =  1 sec
    
            // delete message
            $('.del-msg').live('click',function(){
                $('.del-msg').parent().attr('style', 'display:none;');
            })
        });
    </script>             


{% endblock pages %}