{% extends "manager/layout.html" %}
{% block pages %}
    <div class="col-6">
        <div class="pie-box">
            <h1 class="content-center">Income</h1>
            <hr height="2px">
            <div class="content-center">
                {% if totalIncome == 0 %}
                    <a href = "{% url "manager-income" %}" title="Please click on this to add amount to see graph">
                        <i class="fa fa-pie-chart empty-pie" style="opacity:.3;" aria-hidden="true"></i>
                    </a>
                {% else %}
                    <canvas id="myIncomePieChart"></canvas>
                {% endif %}
            </div>
            <br/>
            <h3 class="content-center">Total Income: 
                <a href="{% url "manager-income" %}">{{ totalIncome }}</a>
            </h3>
            <h3 class="content-center">Average Income:
                <a href="{% url "manager-income" %}">{{ averageIncome }}</a>
            </h3>
                
        </div>
    </div>
    <div class="col-6">
        <div class="pie-box">
            <h1 class="content-center">Expense</h1>
            <hr>
            <div class="content-center">
                {% if totalExpense == 0 %}
                <a href = "{% url "manager-expense" %} " title="Please click on this to add amount to see graph">
                    <i class="fa fa-pie-chart empty-pie" style="opacity:.3;" aria-hidden="true"></i>
                </a>
                {% else %}
                    <canvas id="myExpensePieChart"></canvas>
                {% endif %}
            </div>
            <br/>
            <h3 class="content-center">Total Expense: 
                <a href="{% url "manager-expense" %}">{{ totalExpense }}</a>
            </h3>
            <h3 class="content-center">Average Expense:
                <a href="{% url "manager-expense" %}">{{ averageExpense }}</a>
            </h3>
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        var configExpense = {
            type: 'pie',
            data: {
                datasets: [{
                    backgroundColor: [
                        '#4e6476', '#7893a0', '#90a8b4 '
                    ],
                    data: {{ sumExpense|safe }},
                    label: 'Expense'
                }],
                labels: {{ labelsExpense|safe }}
            },
            options: {
                responsive: true
            }
        };


        var configIncome = {
            type: 'pie',
            data: {
                datasets: [{
                    backgroundColor: [
                    '#4e6476', '#7893a0', '#90a8b4 '
                    ],
                    data: {{ sumIncome|safe }},
                    label: 'Expense'
                }],
                labels: {{ labelsIncome|safe }}
            },
            options: {
                responsive: true
            }
        };
    

        window.onload = function() {
            var ctx = document.getElementById('myExpensePieChart').getContext('2d');
            window.myPie = new Chart(ctx, configExpense);
            
            var ctx = document.getElementById('myIncomePieChart').getContext('2d');
            window.myPie = new Chart(ctx, configIncome);
        };
    </script>         
{% endblock pages %}