{% extends "manager/layout.html" %}
{% load crispy_forms_tags %}
{% block pages %}
    <div class="col-8">
        <div class="chartBox">
            {% if amountExist %}
                <canvas id="myIncomeChart" width="300" height="175"></canvas>
            {% else %}
                <a href = "{% url "manager-income" %}" title="Please click on this to add amount to see graph">
                    <i class="fa fa-bar-chart empty-bar-chart" aria-hidden="true"></i>
                </a>
            {% endif %}
        </div>
        <hr>
        <div class="box">
            <h1>History</h1>
            {% for income in incomes %}
            <hr>
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <div class= "left-buttons">
                            <div>
                                <div class="h4 mb-0 mt-0"> Amount: {{ income.Amount }}</div>
                                <small class="h6 text-muted mb-3">{{ income.IncomeDate|date:"F d, Y" }}</small>
                            </div>
                            <div class="icon-align">
                                {% comment %} EDIT ICON {% endcomment %}
                                <a class="inside-button mr-2 mt-1" href="{% url "updateIncome" income.Income_id %}">
                                    <i class="fa fa-pencil-square-o" style="font-size: 38px;" aria-hidden="true"></i>
                                </a>
                                {% comment %} DELETE ICON {% endcomment %}
                                <a class="inside-button mr-3 ml-2" href="{% url "deleteIncome" income.Income_id %}" >
                                    <i class="fa fa-trash-o" style="font-size: 38px;" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            {% endfor %}
            <hr>
            <nav aria-label="Page navigation example" class="mb-1">
                <div class="page-item content-center">
                    {% if incomes.has_previous or incomes.has_next %}
                        {% if incomes.has_previous %}
                            <a href="?page={{ incomes.previous_page_number }}">
                                <button class="page-link mr-1">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                </button>
                            </a>
                        {% else %}
                            <button class="page-link fade mr-1">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            </button>
                        {% endif %}

                        {% for page in pages.page_range %}
                            <a class="mr-1 ml-1 h5" href="?page={{ page }}">
                                <button class="page-link content-center">
                                    {{ page }}
                                </button>
                            </a>
                        {% endfor %}
                        
                        {% if incomes.has_next %}
                            <a href="?page={{ incomes.next_page_number }}">
                                <button class="page-link ml-1">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </button>
                            </a>
                        {% else %}
                            <button class="page-link fade ml-1">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </button>
                        {% endif %}
                    {% else %}
                        <button class="page-link fade mr-1">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        </button>
                        <button class="page-link fade ml-1">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </button>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
    <div class="col-4">
        <div class="message">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} justify-content-center">
                        <div>{{ message }} <a class="close" data-dismiss="alert">×</a></div>
                        <img src="close.soon" style="display:none;" onerror="(function(el){ setTimeout(function(){ el.parentNode.parentNode.removeChild(el.parentNode); }, 2000); })(this);" />
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="data-section">
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Income</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <script>
        // setup 
        const dates = {{ labels|safe }};
        const amount = {{ money|safe }};
        const data = {
            labels: dates,
            datasets: [{
                label: 'Income',
                data: amount,
                backgroundColor: 'rgba(144, 168, 190, 0.5)',
                borderColor: '#5f788a',
                borderWidth: 1
            }]
        };
        
        // config 
        const config = {
            type: 'bar',
            data,
            options: {
                scales: {
                    x: {
                        grid: {
                            display : false
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        };
        
        // render init block
        const myChart = new Chart(
            document.getElementById('myIncomeChart'),
            config
        );

        {% comment %} function filterData(){
            const dates2 = [...dates];
            console.log(dates2);
            const startdate = document.getElementById('startdate')
            console.log(startdate.value)
            const enddate = document.getElementById('enddate')
            const indexstartdate = dates2.indexOf(startdate.value);
            const indexenddate = dates2.indexOf(enddate.value);
            console.log(indexstartdate)
            console.log(indexenddate)
            const filterDate = dates2.slice(dates2.indexOf(startdate.value), dates2.indexOf(enddate.value)+1);
            console.log(filterDate);
        } {% endcomment %}

    </script>                    
{% endblock pages %}