body {
    color: #333333;
    margin-top: 5rem;
}

a:hover{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #5f788a;
}

.site-header-fontsize {
    font-size: 20px;
}

.site-header-ExpenseManager {
    font-size: 25px;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.data-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 35px;
    margin-left: 77px;
    width: 377px;
    position: fixed;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.header-margin-top{
    margin-top: 24px;
}

.submit-button{
    background-color: white;
    color: rgb(41, 118, 211);
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(41, 118, 211);
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.7s, color 0.7s;
}

.submit-button:hover{
    background-color: rgb(41, 118, 211);
    color: white;
}

.submit-button:active{
    opacity: 0.5;
}

.subscribe-button{
    background-color: rgb(200, 0, 0);
    color: rgb(0, 0, 0);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: 0.15s;
    vertical-align: top;
}
.subscribe-button:hover{
    opacity: 0.8;
}
.subscribe-button:active{
    opacity: 0.5;
}
.alert-box{
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
}

.alert-message{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63%;
}

.justify-content-center{
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    width: 377px;
    margin-left: 77px;
}

.chartMenu {
    width: 100vw;
    height: 40px;
    background: #1A1A1A;
}
.chartMenu p {
    padding: 10px;
    font-size: 20px;
}
.chartCard {
    width: 100vw;
    height: calc(100vh - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.chartBox {
    width: 890px;
    padding: 20px;
    border-radius: 20px;
    background: white;
    margin-left: -104px;
}

.margin-left-135px{
    margin-left: -135px;
    width: 900px;
}

.box {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 47px;
    margin-right: 25px;
    width: 700px;
    /* height: 50vh; */
}

::-webkit-scrollbar {
    width: 1px !important;
    height: 6px !important;
    background-color: #c3ced5 !important;

}
::-webkit-scrollbar-thumb {
    background-color: #005287 !important;
}
  
::-webkit-scrollbar:horizontal {  
    width: 3px !important;
}

.page-link  {
    position: relative ;
    display: inline ;
    padding: 0.5rem 0.75rem ; 
    margin-left: 3px ;
    line-height: 1.25 ;
    color: #007bff ;
    background-color: #fff ;
    border: 1px solid #aaaaaa;
    width: 90px;
}

.fade{
    opacity: 70%;
}

.delete-button{
    background-color: rgb(205, 0, 0);
    width: 80px;
    color: white;
    border: none;
    padding: 4px 16px 4px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
    transition: 0.4s;
}
.delete-button:hover{
    opacity: 0.7;
}
.delete-button:active{
    opacity: 0.5;
}

.delete-color{
    color: white;
}

.edit-button{
    display: inline-block;
    background-color: white;
    width: 78px;
    color: rgb(41, 118, 211);
    padding: 3px 22px 3px 22px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(41, 118, 211);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;
}

.edit-button:hover{
    background-color: rgb(41, 118, 211);
    color: white
}

.edit-button:active{
    opacity: 0.5;
}

.edit-color{
    color: rgb(41, 118, 211);
}

.inside-button{
    display: inline-block;
}

.update-form{
    margin-top: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 600px;
    padding: 10px 20px;
}

.outer-update-form{
    display: flex;
    justify-content: center;
}